---
layout: page
permalink: /blogs/
title: Blogs
---

<h2 style="margin-bottom: 10px;">2025</h2>
{% include blog_entry.html 
   title="Roboracer at ICRA 2025" 
   url="/blogs/roboracer_icra2025/"
   image="assets/images/logo/icra_2025_logo.png"
   tldr="Some insights and experience from our Roboracer team <i>LAMARRacing</i> at ICRA 2025 in Atlanta, USA." %}

{% include blog_entry.html 
   title="My Learning Strategy" 
   url="/sites/blog_pages/learning_strategy/"
   image="assets/images/logo/informatik_bonn.png"
   tldr="At the end of my Master's studies, I want to share my learning strategy allowing me to achieve  a perfect GPA (1.0) in my courses." %}

<h2 style="margin-bottom: 10px; margin-top: 20px;">2024</h2>
{% include blog_entry.html 
   title="Starting a Roboracer Team: From 0 to First Competition" 
   url="/blogs/roboracer_cdc2024/"
   image="assets/images/logo/roboracer_logo.png"
   tldr="An insight into starting the Roboracer team <i>LAMARRacing</i> and our first competition at the CDC 2024 in Milan, Italy." %}

{% include blog_entry.html 
   title="NimbRo at RoboCup 2024 in Bourdeaux" 
   url="/blogs/nimbro_robocup2024/"
   image="assets/images/logo/robocup_2024_logo.png"
   tldr="Some experience and photos from this year's RoboCup in Eindhoven, Netherlands." %}

<h2 style="margin-bottom: 10px; margin-top: 20px;">2023</h2>
{% include blog_entry.html 
   title="Humanoid Soccer with team NimbRo at RoboCup 2023" 
   url="/blogs/nimbro_robocup2023/"
   image="assets/images/logo/robocup_2023_logo.png"
   tldr="My start into the NimbRo team and my first competition at the RoboCup 2024 in Bourdeaux, France." %}
